.navContainer {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 3rem 1rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}

.tabContainer {
  list-style-type: none;
  display: flex;
  padding: 0px;
  gap: 1rem;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
}

